---
import "../styles.css";
import logo from "../assets/logo.png?url";
import "@fontsource-variable/jetbrains-mono";
import { Icon } from "astro-icon/components";
import Header from "../components/Header.astro";

interface Props {
	title?: string;
	description?: string;
	publishedDate?: Date;
}

function isoFormatDate(date: Date): string {
	return `${date.getUTCFullYear()}-${date.getUTCMonth() + 1}-${date.getUTCDate()}`;
}

const { title, publishedDate } = Astro.props;
const description =
	Astro.props.description ??
	"A university club for high-performance computing and other hardware shenanigans";

const url = Astro.url.toString();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title != null ? title + " -" : ""} Aalborg Supercomputer Club
		</title>
		<meta name="description" content={description} />
		<meta name="og:title" content={title ?? "Aalborg Supercomputer Club"} />
		<meta name="og:type" content="website" />
		<meta name="og:image" content={logo} />
		<meta name="og:url" content={url} />
		<meta name="og:description" content={description} />
		{
			title != null && (
				<meta
					name="og:site_name"
					content="Aalborg Supercomputer Club"
				/>
			)
		}
		{
			publishedDate != null && (
				<meta
					name="og:article:published_date"
					content={isoFormatDate(publishedDate)}
				/>
			)
		}
		<meta name="og:section" content="Technology" />
	</head>
	<body>
		<div id="container">
			<Header />
			<slot />
			<footer>
				Made with <a href="https://astro.build">Astro</a>
				| Inspired by <a href="https://spectre.lou.gg/">Spectre</a>
			</footer>
		</div>
	</body>
</html>
<style>
	body {
		background-color: black;
		margin: 0;
	}

	#container {
		margin: 0 auto 0 auto;
		max-width: 1280px;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer {
		color: #aaaaaa;
		padding-top: 1rem;
	}
</style>
