---
import "../styles.css";
import logo from "../assets/logo.png?url";
import "@fontsource-variable/jetbrains-mono";
import { Icon } from "astro-icon/components";

interface Props {
	title?: string;
	description?: string;
	publishedDate?: Date;
}

function isoFormatDate(date: Date): string {
	return `${date.getUTCFullYear()}-${date.getUTCMonth() + 1}-${date.getUTCDate()}`;
}

const { title, publishedDate } = Astro.props;
const description =
	Astro.props.description ??
	"A university club for high-performance computing and other hardware shenanigans";

const url = Astro.url.toString();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title != null ? title + " -" : ""} Aalborg Supercomputer Club
		</title>
		<meta name="description" content={description} />
		<meta name="og:title" content={title ?? "Aalborg Supercomputer Club"} />
		<meta name="og:type" content="website" />
		<meta name="og:image" content={logo} />
		<meta name="og:url" content={url} />
		<meta name="og:description" content={description} />
		{
			title != null && (
				<meta
					name="og:site_name"
					content="Aalborg Supercomputer Club"
				/>
			)
		}
		{
			publishedDate != null && (
				<meta
					name="og:article:published_date"
					content={isoFormatDate(publishedDate)}
				/>
			)
		}
		<meta name="og:section" content="Technology" />
	</head>
	<body>
		<div id="container">
			<header>
				<nav>
					<a id="navbar-title" href="/">Aalborg Supercomputer Club</a>
					<ul>
						<li>
							<a href="/posts">Posts</a>
						</li>
						<li>
							<a href="/projects">Projects</a>
						</li>
						<li>
							<a href="/wiki">Wiki</a>
						</li>
					</ul>
				</nav>
			</header>
			<slot />
			<footer>
				Made with <a href="https://astro.build">Astro</a>
				| Inspired by <a href="https://spectre.lou.gg/">Spectre</a>
			</footer>
		</div>
	</body>
</html>
<style>
	body {
		background-color: black;
		margin: 0;
	}

	#container {
		margin: 0 auto 0 auto;
		max-width: 1280px;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	header {
		width: 100%;
	}

	header nav {
		font-family: var(--font-fancy);
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}

	header a {
		text-decoration: none;
		color: inherit;
		transition: color 0.2 ease-in;
	}

	header a:hover {
		color: var(--accent);
	}

	header ul {
		list-style: none;
		padding-left: 0;
		display: flex;
		gap: 1.5rem;
		font-size: 1.25rem;
	}

	#navbar-title {
		font-size: 1.5rem;
	}

	footer {
		color: #aaaaaa;
		padding-top: 1rem;
	}
</style>
